
<div class="CustomModalStyle" style="color:black !important">

    <!-- Image Slider -->
    <BlazorStrap.BSCarousel NumberOfItems="@items.Count" style="text-align:center !important">
        <div class="carousel-inner">
            @for (int i = 0; i < items.Count; i++)
            {
                <BlazorStrap.BSCarouselItem Src="@items[i].Source" Alt="@items[i].Alt"
                                            style="width:100%; height:auto" />
            }
        </div>
        <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Previous" NumberOfItems="@items.Count" />
        <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Next" NumberOfItems="@items.Count" />
    </BlazorStrap.BSCarousel>

    <div class="blog-content">
        <br />
        <BSBadge Color="Color.Info">
            <i>July 2019</i>
        </BSBadge>
        <BSBadge Color="Color.Secondary">
            Phase 2
        </BSBadge>
        <br /><br />
        <p>
            CSMT is a Banking application for monitoring business planning until realization.
            In this app has approval flows, reporting, and tracking business plan.
        </p><br />
        <div class="row grid-items border-line-v">
            <div class="col col-d-3 col-t-3 col-m-12 grid-item photo border-line-h"
                 style="border-top: 1px solid #6c757d !important; border-right: 1px solid #ffce7a !important;">
                <b>Platform</b>
                <ul class="list-style" style="color:black !important">
                    <li>Web</li>
                </ul><br />
            </div>
            <div class="col col-d-3 col-t-3 col-m-12 grid-item photo border-line-h"
                 style="border-top: 1px solid #6c757d !important; border-right: 1px solid #ffce7a !important">
                <b>My Role</b>
                <ul class="list-style" style="color:black !important">
                    <li>Full Stack Developer</li>
                </ul><br />
            </div>
            <div class="col col-d-3 col-t-3 col-m-12 grid-item photo border-line-h"
                 style="border-top: 1px solid #6c757d !important">
                <b>Tech Stack</b>
                <ul class="list-style" style="color:black !important">
                    <li>.Net Core MVC</li>
                    <li>SQL Server</li>
                    <li>IIS Web Server</li>
                </ul>
            </div>
        </div>
    </div>
    @*<a href="#" class="button">
            <span class="text">View Project</span>
            <span class="arrow"></span>
        </a>*@
</div>

