@inject HttpClient Http

<div class="CustomModalStyle" style="color:black !important">

    <!-- Image Slider -->
    <BlazorStrap.BSCarousel NumberOfItems="@items.Count" style="text-align:center !important">
        <div class="carousel-inner">
            @for (int i = 0; i < items.Count; i++)
            {
                <BlazorStrap.BSCarouselItem Src="@items[i].Source" Alt="@items[i].Alt"
                                            style="width:100%; height:auto" />
            }
        </div>
        <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Previous" NumberOfItems="@items.Count" />
        <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Next" NumberOfItems="@items.Count" />
    </BlazorStrap.BSCarousel>

    <div class="blog-content">
        <br />
        <BSBadge Color="Color.Info">
            <i>@cnt.CreatedOn</i>
        </BSBadge>
        <BSBadge Color="Color.Secondary">
            @cnt.Stage
        </BSBadge>
        <br /><br />
        @_modalState.Value._appName.appName
        <p>
            @cnt.Description
        </p><br />
        <div class="row grid-items border-line-v">
            <div class="col col-d-3 col-t-3 col-m-12 grid-item photo border-line-h"
                 style="border-top: 1px solid #6c757d !important; border-right: 1px solid #ffce7a !important;">
                <b>Platform</b>
                <ul class="list-style" style="color:black !important">
                    @{
                        var listPlatform = cnt.Platform.Split(',');
                    }
                    @if (listPlatform == null)
                    {

                    }
                    else
                    {
                        foreach (var item in listPlatform)
                        {
                            <li>@item</li>
                        }
                    }
                </ul><br />
            </div>
            <div class="col col-d-3 col-t-3 col-m-12 grid-item photo border-line-h"
                 style="border-top: 1px solid #6c757d !important; border-right: 1px solid #ffce7a !important">
                <b>My Role</b>
                <ul class="list-style" style="color:black !important">
                    @{
                        var listRole = cnt.Role.Split(',');
                    }
                    @if (listRole == null)
                    {

                    }
                    else
                    {
                        foreach (var item in listRole)
                        {
                            <li>@item</li>
                        }
                    }
                </ul><br />
            </div>
            <div class="col col-d-3 col-t-3 col-m-12 grid-item photo border-line-h"
                 style="border-top: 1px solid #6c757d !important">
                <b>Tech Stack</b>
                <ul class="list-style" style="color:black !important">
                    @{
                        var listTech = cnt.TechStack.Split(',');
                    }
                    @if (listTech == null)
                    {

                    }
                    else
                    {
                        foreach (var item in listTech)
                        {
                            <li>@item</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    @*<a href="#" class="button">
            <span class="text">View Project</span>
            <span class="arrow"></span>
        </a>*@
</div>

