@page "/"

@using Portfolio.Services
@inject BrowserService Service

<Title>Yuda Resume</Title>
<meta name="Title" Content="Yuda Fatah Resume" />
<meta name="Description" Content="Yuda Fatah website which the content are resume, CV, portfolio, and blog" />
<meta name="Keywords" Content="Yuda Fatah, CV, resume, blog, portfolio, Yuda Fatah Kurniawan, Yuda, Developer, Programmer" />
<meta name="Author" Content="Yuda Fatah Kurniawan" />

<div class="page" style="height:100% !important; margin-top:0 !important; margin-bottom:0 !important">

    <!-- background -->
    <Background />

    <!--
        Container
    -->
    <div class="container opened" data-animation-in="fadeInLeft" data-animation-out="fadeOutLeft">

        <!--
        Header
    -->
        <header class="header">

            <!-- menu -->
            <div class="top-menu">
                <ul>
                    <li class="@(ActiveCard==$"about"?$"active":$"")">
                        <NavLink href="#about-card" @onclick="@(e=>SetCard("about"))" target="_top">
                            <span class="icon ion-person"></span>
                            <span class="link">About</span>
                        </NavLink>
                    </li>
                    <li class="@(ActiveCard==$"resume"?$"active":$"")">
                        <NavLink href="#resume-card" @onclick="@(e=>SetCard("resume"))" target="_top">
                            <span class="icon ion-android-list"></span>
                            <span class="link">Resume</span>
                        </NavLink>
                    </li>
                    <li class="@(ActiveCard==$"works"?$"active":$"")">
                        <NavLink href="#works-card" @onclick="@(e=>SetCard("works"))" target="_top">
                            <span class="icon ion-paintbrush"></span>
                            <span class="link">Works</span>
                        </NavLink>
                    </li>
                    <li class="@(ActiveCard==$"blog"?$"active":$"")">
                        <NavLink href="#blog-card" @onclick="@(e=>SetCard("blog"))" target="_top">
                            <span class="icon ion-chatbox-working"></span>
                            <span class="link">Blog</span>
                        </NavLink>
                    </li>
                    <li class="@(ActiveCard==$"contacts-card"?$"active":$"")">
                        <NavLink href="#contacts-card" @onclick="@(e=>SetCard("contacts-card"))" target="_top">
                            <span class="icon ion-at"></span>
                            <span class="link">Contact</span>
                        </NavLink>
                    </li>
                </ul>
            </div>

        </header>


        <!--
        Card - Started
    -->
        <div class="card-started" id="home-card">

            <!--
            Profile
        -->
            <Profile />

        </div>

        @if (Width < 1024)
        {
            <About ClassName="card-inner animated active" />
            <Resume ClassName="card-inner" />
            <Works ClassName="card-inner" />
            <Blog ClassName="card-inner blog" />
            <Contacts ClassName="card-inner contacts" />
        }
        else
        {
            @switch (ActiveCard)
            {
                case "about":
                    <!--
                    Card - About
                -->
                    <About ClassName="card-inner animated active" />
                    break;
                case "resume":
                    <!--
                    Card - Resume
                -->
                    <Resume ClassName="card-inner animated active" />
                    break;
                case "works":
                    <!--
                    Card - Works
                -->
                    <Works ClassName="card-inner animated active" />
                    break;
                case "blog":
                    <!--
                    Card - Blog
                -->
                    <Blog ClassName="card-inner blog animated active" />
                    break;
                case "contacts-card":
                    <!--
                    Card - Contacts
                -->
                    <Contacts ClassName="card-inner contacts animated active" />
                    break;
            }
        }


    </div>
</div>
